body {
    font-size: 1.1em;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="text"], select {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.1em .3em;
    border-radius: 5px;
    outline: 0;
}

input[type="text"]:focus {
    border-color: #328ca8;
}

.building-count-input, .item-number-input {
    width: 8ch;
}

ul {
    list-style: none;
    padding-left: .75em;
}

.planner-container {
    display: flex;
    margin: 2em;
}

.summary-container {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    flex-shrink: 0;
}

.planner-container > div {
    padding: 1em;
}

.building-group-container > * {
    margin: 0.2em;
}

.summary-banner {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.summary-input-label, .summary-output-label {
    font-size: 1.2em;
    margin: 0px;
}

.summary-input-list, .summary-output-list {
    margin: 0px;
    margin-bottom: .2em;
}

.summary-input-item, .summary-output-item {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.summary-input-item-name, .summary-output-item-name {
    margin-left: 1em;
}

.summary-input-item-quantity, .summary-output-item-quantity {
    margin-left: 1em;
}

.building-group-container {
    background-color: #ddd;
    border-radius: 5px;
    margin: .3em;
}

.recipe-details, .recipe-details > * {
    display: flex;
}

.recipe-details-inputs, .recipe-details-outputs {
    flex-direction: column;
    justify-content: center;
}

.recipe-details-inputs > p, .recipe-details-outputs > p {
    display: flex;
    justify-content: space-between;
}

.recipe-arrow {
    align-items: center;
    margin: 1em;
    font-size: 2em;
}

.recipe-details-item-name {
    margin-right: .5em;
}

.recipe-details > * {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.recipe-details-inputs > p, .recipe-details-outputs > p {
    margin-top: .1em;
    margin-bottom: .1em;
}

.recipe-details-name {
    text-align: center;
}

.recipe-search-result {
    border-top-style: solid;
    border-width: 1px;
    border-color: black;
    padding: .1em;
}

.recipe-search-results-list > li:hover {
    background-color: #eee;
    cursor: pointer;
    
}

.details-container {
    display: flex;
    flex-wrap: wrap;
}

.recipe-results {
    position: absolute;
    display: inline-block;
    background-color: #f6f6f6;
    max-height: 300px;
    overflow: auto
}
